<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:java="http://www.mulesoft.org/schema/mule/java"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:spring="http://www.mulesoft.org/schema/mule/spring" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/spring http://www.mulesoft.org/schema/mule/spring/current/mule-spring.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/java http://www.mulesoft.org/schema/mule/java/current/mule-java.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="a4c5d04e-b2c5-47fe-a76f-94940b62ae13" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="spring-module-demoFlow" doc:id="f99451a8-3cad-4fd8-a274-4568e94d3cdb" >
		<http:listener doc:name="Listener" doc:id="56c767d7-9f10-497b-acc8-a6a4c3762216" config-ref="HTTP_Listener_config" path="/spring"/>
		<java:invoke doc:name="Invoke" doc:id="2687de5e-62f5-4925-b6ca-a28214d39444" instance="yoni" class="com.yoni.Employee" method="getDetails()"/>
		<logger level="INFO" doc:name="Logger" doc:id="0f6e38eb-4c21-48cc-87c7-b43fd5203926" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="03eb44a9-d809-490f-b62c-0b2cd936ca26" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	details: payload as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
